body {
  padding-top: 120px;
}

.headerDiv {
  background-color: white;
  opacity: .9;
  position:fixed;
  top:0px;
  width:100%;
  padding:10px;
  -webkit-box-shadow: 0px 6px 15px -5px #000000; 
box-shadow: 0px 6px 15px -5px #000000;
}

.submitButton {
  background-color: lightblue;
  color: black;
  font-size: 24px;
}

.postImg {
  width: 30px;
  margin-left: 10px;
}

.articles {
  transition: 0.5s;
  color: rgb(19, 15, 87);
  margin-left: 5px;
}

.articles:hover {

  transform-origin: top left;
  transform: scale(1.02);
  margin-right: 10px;
  color: rgb(39, 39, 156);
}

.commentDiv {
  padding:20px;
  border:2px solid #cadbce;
  border-radius:10px;
  margin-bottom: 10px;

  transform: scale(1.02);
  margin-right: 10px;
  color: blue;
}

.comments-link {
  color: rgb(39, 39, 156);
  border-bottom: .5px solid rgb(39, 39, 156);
}

.comments-link:hover {
  color: #39a9de;
  border-bottom: .5px solid #39a9de;
}
